.Sidebar{
    min-height: 100vh;
    min-width: 60px;
    flex-direction: column;
    display: flex;
    background-color: rgba(173, 62, 247, 0.8);
    margin-left: 10px;
    padding-left: 0;
}

.NavLink{
    color: white;
    margin-top: 3rem;
    padding-left: 5px;
}

.NavLink:hover{
    cursor: pointer;
    transition: color ease-in-out 0.2s;
    color: purple;
}

.Active{
    color: red;
}

.logo{
    margin-left: 10px;
}

.Col{
    padding-left: 0;
    padding-right: 0;
}