.App {
    font-family: 'Poppins', sans-serif;
}

.Main{
    display: flex;
    margin-left: 0;
    padding-left: 0;
    width: 100vw;
}

/* .Secondary{
    margin-left: 0;
    padding-left: 0;
} */

i {
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}